/**
Base: Variables
**/

//Colors
$accent-color: #54c68d;
$background-color: #fbfcfa;
$type-color: #333333;

//Fonts
$title-font: 'Playfair Display', serif;
$body-font: 'Lato', sans-serif;

//Padding
$padding: 25px;